img{
    height: 200px;
}
/*
li{
    width: 120px;
    display: inline-block;
    background-color: #333;
    color: rgb(240, 240, 240);
    border: solid 1px rgb(14, 14, 14);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 微軟正黑體;
}
*/
body>h3{
    text-align: center;
}

body>p{
    text-align: center;
}

ul{
    display: flex;
    list-style-type: none;
    /*
    border: solid 1px rgb(82, 18, 18);
    border-radius: 10px;*/
    width: 960px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
ul li{
    width: 280px;
}

li{
    background-color: #333;
    color: rgb(240, 240, 240);
    /*border: solid 1px rgb(14, 14, 14);
    border-radius: 10px;*/
    padding: 10px;
    margin: 10px;
    font-family: 微軟正黑體;
    text-align: center;
}